@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="table" class="container">
    <div class="alert alert-light" id="bookCount" role="alert">
      
    </div>
    <table id="bookReserveData" class="table table-bordered">
        <thead>
        <tr>
            <th>Kiralayan Kullanıcı</th>
            <th>Kiralanma Tarihi</th>
            <th>Kira Süresi</th>
            <th>İade Tarihi</th>
        </tr>
        </thead>
    </table>
</div>





@section Scripts{
    <script src="../../Scripts/date.format.js"></script>
    <script>
        $(document).ready(function() {
            var isbn = "@Request.Url.AbsolutePath";
            isbn = isbn.split("/");
            if (isbn.length == 4) {
                isbn = isbn[3];
                loadReserveData(isbn);
            } else {
                return null;
            }
        });

        function redirect() {
            window.location.href = "/bookoperations/create";
        }
    </script>
}